.page.theme_light {
  --rec-status: var(--icon-rec-theme-light);
  --background-image: var(--background-light-image);
  --background-color: var(--soft-color-4);

  --title-text-color: var(--soft-color-3);
  --description-text-color: var(--dark-color-3);
  --subtitle-text-color: var(--dark-color-3);
  --card-title-text-color: var(--dark-color-3);

  --backgrund-text-color: var(--soft-color-1);
  --base-text-color: var(--dark-color-3);

  --accent-color: var(--soft-color-1);    

  --menu-color: var(--dark-color-3);

  --angles-style: var(--angles-for-theme-light);

  --menu-hover-style: var(--menu-hover-theme-light);
}


@media (prefers-color-scheme: light) {
  :root {  
    --rec-status: var(--icon-rec-theme-light);
    --background-image: var(--background-light-image);
    --background-color: var(--soft-color-4);
  
    --title-text-color: var(--soft-color-3);
    --description-text-color: var(--dark-color-3);
    --subtitle-text-color: var(--dark-color-3);
    --card-title-text-color: var(--dark-color-3);
  
    --backgrund-text-color: var(--soft-color-1);
    --base-text-color: var(--dark-color-3);
  
    --accent-color: var(--soft-color-1);    
  
    --menu-color: var(--dark-color-3);

    --angles-style: var(--angles-for-theme-light);

    --menu-hover-style: var(--menu-hover-theme-light);
  }
}